@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "ITOCA Knowledge Management System Welcomes You";

    var httpContext = HttpContextAccessor.HttpContext;
    var username = httpContext?.Session.GetString("Username");
    var role = httpContext?.Session.GetString("Role");

    // Debugging: Print out the retrieved role
    Console.WriteLine($"Retrieved Role: {role}");
}

<style>
    /* Navbar styles */
    .navbar {
        background-color: dodgerblue !important;
    }

    .navbar-nav .nav-link {
        color: white !important;
        font-weight: bold;
    }

    .navbar-toggler {
        border-color: white;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }

        .dropdown-item:hover,
        .dropdown-item:focus {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }

    #dropdownMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Google_cloud_storage_solution</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Google_cloud_storage_solution.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-dR3n2nEsdZZ+6neUXE5sMOPVBGZwA1fjHc9LpB90Yow9jXmyGkK7iVfhI/S2NV6Qx1cFZbLgFWc5hB7cdK+zPg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ITOCA Knowledge Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (!string.IsNullOrEmpty(role))
                        {
                            if (role == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Storage" asp-action="Index">Storage </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Cloud_File_Index" asp-action="Index">Cloud File Index</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FileIndex" asp-action="Index">File Index</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FilePath" asp-action="Index">File Path</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="googleCloudDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Google Cloud
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="googleCloudDropdown">
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UploadToGoogleCLoud">Upload to Google Cloud</a>
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UpdatePermissions">Update Permissions</a>
                                        <a class="dropdown-item" asp-controller="FileAccess" asp-action="EditAccess">File Permissions</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="googleDriveDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Google Drive
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="googleDriveDropdown">
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UploadToGoogleDrive">Upload to Google Drive</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                                </li>
                                <!-- Add user profile section -->
                                <div class="user-profile">
                                    <div class="user-details" onclick="toggleDropdown()">
                                        <img src="~/images/User icon.jpg">
                                        <div class="user-info">
                                            <div class="username">@username</div>
                                            <div class="role">@role</div>
                                        </div>
                                        <div class="dropdown-caret">&#9660;</div>
                                    </div>
                                    <div class="dropdown-menu" id="dropdownMenu">
                                        <a class="dropdown-item" href="@Url.Action("Account", "Home")">Account</a>
                                        <a class="dropdown-item" href="@Url.Action("Inbox", "Home")">Inbox</a>
                                        <a class="dropdown-item" href="@Url.Action("TaskBoard", "Home")">TaskBoard</a>
                                        <a class="dropdown-item" href="@Url.Action("Settings", "Home")">Settings</a>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Logout</a>
                                        <!-- Add more dropdown options as needed -->
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Item 1</a>
                                            <a class="dropdown-item" href="#">Item 2</a>
                                        </div>
                                    </div>
                                </div>
                            }

                            else if (role == "User")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FileIndex" asp-action="Index">File Index</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="FilePath" asp-action="Index">File Path</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="googleCloudDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Google Cloud
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="googleCloudDropdown">
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UploadToGoogleCLoud">Upload to Google Cloud</a>
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UpdatePermissions">Update Permissions</a>
                                        <a class="nav-link text-dark" asp-area="" asp-controller="FileAccess" asp-action="EditAccess">File Permissions</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="googleDriveDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Google Drive
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="googleDriveDropdown">
                                        <a class="dropdown-item" asp-controller="FileUpload" asp-action="UploadToGoogleDrive">Upload to Google Drive</a>
                                    </div>
                                </li>                        
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index">Menu</a>
                                </li>
                                <div class="user-profile">
                                    <div class="user-details" onclick="toggleDropdown()">
                                        <img src="~/images/User icon.jpg">
                                        <div class="user-info">
                                            <div class="username">@username</div>
                                            <div class="role">@role</div>
                                        </div>
                                        <div class="dropdown-caret">&#9660;</div>
                                    </div>
                                    <div class="dropdown-menu" id="dropdownMenu">
                                        <a class="dropdown-item" href="@Url.Action("Account", "Home")">Account</a>
                                        <a class="dropdown-item" href="@Url.Action("Inbox", "Home")">Inbox</a>
                                        <a class="dropdown-item" href="@Url.Action("TaskBoard", "Home")">TaskBoard</a>
                                        <a class="dropdown-item" href="@Url.Action("Settings", "Home")">Settings</a>
                                        <a class="dropdown-item" href="@Url.Action("Logout", "Home")">Logout</a>
                                        <!-- Add more dropdown options as needed -->
                                    </div>
                                </div>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Google_cloud_storage_solution - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        window.onpageshow = function (event) {
            if (event.persisted || (window.performance && window.performance.navigation.type == 5)) {
                window.location.href = '@Url.Action("Login", "Account")';
            }
        };

        function toggleDropdown() {
            var dropdownMenu = document.getElementById('dropdownMenu');
            dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
        }

        $(document).ready(function () {
            $('#googleCloudDropdown').on('click', function (event) {
                event.preventDefault();
                $(this).next('.dropdown-menu').toggle();
                $('#googleDriveDropdown').next('.dropdown-menu').hide(); // Hide the other dropdown
            });

            $('#googleDriveDropdown').on('click', function (event) {
                event.preventDefault();
                $(this).next('.dropdown-menu').toggle();
                $('#googleCloudDropdown').next('.dropdown-menu').hide(); // Hide the other dropdown
            });

            $(document).on('click', function (event) {
                if (!$(event.target).closest('#googleCloudDropdown').length) {
                    $('#googleCloudDropdown').next('.dropdown-menu').hide();
                }
                if (!$(event.target).closest('#googleDriveDropdown').length) {
                    $('#googleDriveDropdown').next('.dropdown-menu').hide();
                }
            });
        });

    </script>
</body>
</html>
